.featured {
    margin-top: 75px;

    &-wrapper {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &-block {
        max-width: 392px;
        box-sizing: border-box;
        border: 2px solid #40ffe4;
        box-shadow: inset -3px -3px 5px rgba(0, 224, 255, 0.4),
            inset 3px 3px 5px rgba(0, 224, 255, 0.4);
        backdrop-filter: blur(3px);
        border-radius: 20px;
        padding: 16px;
    }

    &-img {
        margin-bottom: -5px;
    }

    &-title {
        font-weight: 600;
        font-size: 20px;
        letter-spacing: -0.01em;
        color: #ffffff;
        margin-bottom: 8px;
    }

    &-descr {
        font-weight: 400;
        font-size: 16px;
        letter-spacing: -0.01em;
        color: #d1d1d1;
        text-align: center;
    }
}

@media screen and (max-width: 1210px) {
    .featured {
        &-wrapper {
            flex-wrap: wrap;
            justify-content: center;
        }
        &-title {
            text-align: center;
        }
    }
}
